
@model IEnumerable<library1.Models.Book>
@* تعداد هفت عدد برای نمایشگر های معولی مناسب هستش  *@

<div id="dv-last-visit">
    <span class="cart-title">محبوب ترین</span>
    <hr class="break-dash" />

    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
                <a asp-area="Admin" asp-controller="Book" asp-action="BookDetails" asp-route-id="@item.BookId" class="text-decoration-none text-center title-item">
                    @if (item.Image != null)
                    {
                        <img src="@ViewBag.normalimage@item.Image" class="img-thumbnail" />
                    }
                    else
                    {
                        // default image
                        <img src="~/images/cover book/default.jpg" class="img-thumbnail" />

                    }

                    @*<img src="@ViewBag.normalimage@item.Image" class="img-thumbnail" />*@
                    <h5>@item.BookName</h5>
                    <h6>@item.PageNumber صفحه</h6>
                </a>
            </div>
        }

    </div>
</div>