@using library1.PublicModel
@using ReflectionIT.Mvc.Paging

@*نمایش به صورت عادی*@
@*@model IEnumerable<library1.Models.ViewModel.UserListViewModel>*@
@* نمایش به صورت صفحه بندی *@
@model ReflectionIT.Mvc.Paging.PagingList<library1.Models.ViewModel.UserListViewModel>


@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, library1
@{
    ViewData["Title"] = "کاربران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("_adminpanel")
</div>

<div class="col-md-9">
    <div class="top-buffer"></div>
    <div class="panel div-cart">
        <div class="panel-head form-inline">
            <div class="title-medium form-group">
                کاربران
            </div>
            <div class="form-group pull-left col-lg-offset-1">
                <form method="post" asp-controller="User" asp-action="SearchUser">
                    <div class="input-group pull-left">
                        <button class="btn btn-default title-small" style="height:34px; width: 64px;">جستجو</button>
                    </div>
                    <div class="input-group">
                        <input type="text" id="searchuser" name="searchuser" class="form-control title-small" style="padding-right:7px;padding-left:7px;" placeholder=" نام کاربر .. موبایل .. ایمیل ..."/>
                    </div>
                </form>
            </div>
        </div>

        <hr class="break" />
        <div class="panel-body">
            <div class="btn-group">

                <a class="btn btn-submit" id="showAddUser" data-toggle="modal" asp-action="AddUser"
                   data-target="#modal-action-user">
                    کاربر جدید
                </a>

            </div>

            <div></div>
            <table class="table table-bordered table-striped table-condensed>">
                <thead>
                    <tr>
                        <th class="title-small">@Html.DisplayNameFor(model => model.FirstName)</th>
                        <th class="title-small">@Html.DisplayNameFor(model => model.LastName)</th>
                        <th class="title-small">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                        <th class="title-small">@Html.DisplayNameFor(model => model.Email)</th>
                        <th class="title-small">پردازش</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Check null refrenced for Model-->
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="title-small">@item.FirstName</td>
                                <td class="title-small">@item.LastName</td>
                                <td class="title-small">@item.PhoneNumber</td>
                                <td class="title-small">@item.Email</td>
                                <td>

                                    <a class="btn btn-edit" id="showEditUser" data-toggle="modal" asp-action="EditUser"
                                       data-target="#modal-action-user" asp-route-id="@item.Id">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </a>

                                    <a class="btn btn-cancel" id="showDeleteUser" data-toggle="modal" asp-action="DeleteUser"
                                       data-target="#modal-action-user" asp-route-id="@item.Id">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }


                </tbody>


            </table>
        </div>

        <nav class="text-center">
            @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
        </nav>

    </div>

</div>

@section Scripts{

    <script src="~/lib/modal-js/user-index.js"></script>

    <script src="~/js/myScript/menu panel admin.js"></script>

}
@* modal *@
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-user", AreaLabeledId = "", Size = ModalSize.Medium })
